@mixin ViewPc {
	/* ----- templet  ---- */
	.topbar{
		width: 100%;
		background-color: $colorFont;
		a{
			display: inline-block;
			color:$colorGy2;
			padding: 5px 10px;
			&:hover{
				color:$colorW;
			}
		}
	}
	header{
		padding-top: 34px;
		padding-bottom: 60px;
		background: url(../images/bg.png) no-repeat center bottom;
		.search{
			position: relative;
			input{
				padding-right: 40px;
			}
			button{
				position: absolute;
				right:0;
				top:0;
				padding: 6px 10px 7px;
				font-size: 14px;
			}
		}
	}
	#menu{
		background-color: $colorBr2;
		.menu-item{
			padding: 0!important;
			>button,>a{
				width: 100%;
				color:$colorW;
				padding: 10px 0;
				text-align: center;
				display: block;
				font-size: 1.1em;
				border: none;
				background: $colorBr2;
				position: relative;
				&:hover{
					background: $colorBr1;
				}
				.hot{
					display: inline-block;
					background-color: $colorR1;
					color:$colorW;
					font-size: 10px;
					padding: 0 4px 0 3px;
					line-height: 1.4;
					@include border-radius(5px);
					position: absolute;
					right:10px;
					top:4px;
				}
			}
			&.open{
				>button,>a{
					background: $colorBr1;
				}
			}
			&.btn-cart{
				i{
					margin-right: 10px;
				}
				span{
					display: inline-block;
				}
				.dropdown-menu{
					right:0;
					left: auto;
				}
			}
			a{
				padding: 10px 20px;
				&:hover{
					background-color: $colorBr1;
					color:#fff;
					font-weight: normal;
				}
			}
		}
		.cart-num{
			display: inline-block;
			background-color: $colorY;
			color:$colorFont;
			padding: 0 5px;
			font-size: .8em;
			line-height: 1.4;
			font-weight: bold;
			margin-left: 10px;
			margin-top: -2px;
			vertical-align: top;
		}
		.cart-item{
			padding: 10px;
			border-top: 1px dashed $colorGy1;
			white-space: nowrap;
			&:first-child{
				border-top: none;
			}
			.cart-img{
				display: inline-block;
				vertical-align: top;
				width: 80px;
			}
			.cart-text{
				display: inline-block;
				vertical-align: top;
				width: 230px;
				padding-left: 10px;
				.select-img{
					width: 25px;
					margin-right: 5px;
				}
			}
			.cart-price{
				display: inline-block;
				vertical-align: bottom;
				width: 80px;
			}
			h3{
				font-size: 1em;
				margin-bottom: 8px;
			}
			p{
				margin-bottom: 5px;
			}
		}
		.total-text{
			margin-bottom: 10px;
		}
	}
	#fixed{
		position: fixed;
		width: 50px;
		right:10px;
		top:50%;
		z-index: 1000;
		a{
			display: block;
			padding: 10px;
			font-size: 1.1em;
			line-height: 1.2;
			text-align: center;
			margin-bottom: 5px;
		}
		.cart-num{
			display: inline-block;
			background-color: $colorY;
			color:$colorFont;
			padding: 0 5px;
			font-size: .8em;
			line-height: 1.4;
			font-weight: bold;
			margin: 8px 0;
		}
		.bottom{
			display: block;
			padding-top: 8px;
			border-top: 1px dotted $colorW;
		}
		.btn-top{
			font-size: .9em;
			padding-top: 5px;
		}
	}
	#footer{
		position: absolute;
		width: 100%;
		left:0;
		bottom:0;
		.footer-wrap{
			padding: 34px 80px 0;
			background: url(../images/f_bg.png) no-repeat center top;
			background-size: 100% auto;
		}
		a{
			display: inline-block;
			font-size: 1.1em;
			color:$colorW;
			padding: 5px 15px;
			&:hover, &.active{
				text-decoration: underline;
			}
		}
		span{
			color:$colorW;
			display: inline-block;
			vertical-align:middle;
			img{
				width: 150px;
			}
		}
	}
	.section{
		padding: 60px 0;
	}
	.page{
		margin-top: 20px;
		.pro-wrap{
			margin: 10px 0;
		}
	}
	.btn-outline-w{
		color:$colorW;
		background-color: transparent;
		border: 1px solid $colorW;
		margin-top: 15px;
		&:hover{
			background-color: $colorW;
		}
	}
	.btn-outline-gy{
		border: 1px solid $colorGy3;
		background-color: transparent;
		&:hover{
			background-color: $colorGy1;
		}
	}
	.en{
		font-family: $fontFamilyEn;
		display: block;
	}
	.gray{
		color:$colorGy3!important;
	}
	.red{
		color:$colorR3!important;
	}
	.color{
		color:$colorBr1!important;
	}


	/* ----- 彈窗 templet  ---- */
	.pupop-wrap{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		height: 100%;
		text-align: center;
		&:before{
			content:'';
			width: 0;
			height: 100%;
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.pupop{
		background-color: #fff;
		@include border-radius(10px);
		margin: auto;
		width: 240px;
		padding: 20px 15px;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
	.window-wrap{
		background-color: $colorW;
		padding: 40px 20px 20px;
		position: relative;
		button.close{
			position: absolute;
			right:20px;
			top:20px;
		}
		h1{
			font-size: 1.4em;
			color:$colorBr1;
			margin-bottom: 15px;
		}
		.btn-block{
			margin-top: 40px;
		}
		p{
			margin: 5px 0 15px;
		}
	}
	#loadingBox{
		.pupop{
			padding: 2px 15px;
		}
	}
	#loginBox{
		.logoin-wrap{
			padding: 0 10%;
			border-right: 1px solid $colorGy1;
		}
		.shopping-wrap{
			padding: 0 40px;
		}
	}
	.input-group.icon{
		position: relative;
		.input-group-addon{
			position: absolute;
			left:10px;
			top:5px;
			color:$colorGy1;
			width: auto;
		}
		input{
			width: 100%;
			padding-left: 30px;
		}
	}



	/* ----- module  ---- */

	.btn-block{
		
		.btn{
			margin: 0 5px;
		}
	}
	.cat{
		&:before{
			content: '';
			display: inline-block;
			width: 36px;
			height: 33px;
			vertical-align:bottom;
			margin-right: 5px;
			background: url(../images/icon/icon-cat-r.png) no-repeat center center;
		}
	}


	.collapse-panel{
		.post{
			height: 130px;
			padding-bottom: 50px;
			position: relative;
			overflow: hidden;
			transition: all .3s;
			&:after{
				position: absolute;
				bottom:0;
				left:0;
				width: 100%;
				content: '';
				height: 50px;
				background:url(../images/mask.png) repeat-x left bottom;
				z-index: 5;
			}
		}
		.btn-close{
			display: none;
		}
		&.open{
			.post{
				height: auto;
				transition: all .3s;
			}
			.btn-more{
				display: none;
			}
			.btn-close{
				display: inline-block;
			}
		}
	}


	/* ----- Home  ---- */
	#owl-banner{
		a{
			img{
			    display: block;
			    width: 100%;
			    height: auto;
			}
		}
		.owl-controls{
			left:0;
			bottom:5px;
		}
	}
	.ad{
		padding: 10px 0;
	}
	.pro-banner{
		padding: 40px;
		color:$colorW;
		height: 450px;
		position: relative;
		h1{
			font-size: 2.4em;
			font-family: $fontFamilyEn;
			font-weight: bold;
			margin-bottom: 0;
		}
		.pro-banner-text{
			position: absolute;
		}
	}
	.pro-banner-girl{
		background:url(../images/home/style1.png) no-repeat center center;
		background-size: cover;
		.pro-banner-text{
			left:40px;
			bottom:40px;
		}
	}
	.pro-banner-boy{
		background:url(../images/home/style2.png) no-repeat center center;
		background-size: cover;
		.pro-banner-text{
			right:40px;
			top:40px;
		}
	}
	.pro-banner-acc{
		background:url(../images/home/style3.png) no-repeat center center;
		background-size: cover;
		.pro-banner-text{
			left:40px;
			bottom:40px;
		}
	}
	h1.title{
		margin-bottom: 5px;
	}
	.title-sub{
		color:$colorBr1;
	}
	.cat-icon{
		&:before{
			content: '';
			display: inline-block;
			width: 36px;
			height: 33px;
			vertical-align:bottom;
			margin-right: 5px;
			background: url(../images/icon/icon-cat-r.png) no-repeat center center;
		}
		&:after{
			content: '';
			display: inline-block;
			width: 36px;
			height: 33px;
			vertical-align:bottom;
			margin-left: 5px;
			background: url(../images/icon/icon-cat-l.png) no-repeat center center;
		}
	}
	.pro-wrap{
		margin: 30px 0;
		letter-spacing: -0.31em;
		.item{
			width: 170px;
			display: inline-block;
			margin: 0 8px 30px;
			vertical-align: top;
			zoom: 1;
		    letter-spacing: normal;
		}
	}
	.pro-style{
		width: 80%;
		margin: 20px auto;
		h4{
			font-size: 1.1em;
			font-weight: 400;
			line-height: 1.8;
			border-bottom: 1px solid $colorGy1;
			text-transform:uppercase;
		}
		.home-slider{
			margin-top: 15px;
			.owl-controls{
				margin-top: 6px;
				text-align: center;
			}
		}
	}


	/* ----- 商品頁  ---- */
	.page-banner{
		margin-bottom: 12px;
		img{
			width: 100%;
			max-width: auto;
		}
	}
	.sidebar{
		.side-box{
			margin-bottom: 20px;
		}
		a{
			color:$colorBr1;
			padding-left: 15px;
			display: block;
			position: relative;
			&:before{
				font-family: FontAwesome;
				content: "\f105";
				position: absolute;
				left:3px;
				top:0;
			}
			&:hover{
				color:$colorBr2;
			}
		}
	}
	.pro-select{
		text-align: left;
		.form-control{
			width: auto;
			margin-right: 8px;
		}
	}
	.pro-amount{
		.control{
			width: 130px;
			position: relative;
			z-index: 0;
			.btn{
				background-color: $colorFont;
				@include border-radius(0);
				color: #fff;
				text-align: center;
				width: 30px;
				padding: 0;
				height: 35px;
				position: absolute;
				top:0;
				min-width: auto;
			}
			.btn-minus{
				left:0;
			}
			.btn-plus{
				right:0;
			}
			input{
				width: 128px;
				text-align: center;
			}
		}
		.name{
			position: absolute;
			left:0;
			top:5px
		}
	}
	.pro-item{
		display: block;
		position: relative;
		.tag-brand{
			position: absolute;
			width: 80px;
			top:-5px;
			left:-5px;
			z-index: 5;
		}
		.pro-img{
			display: block;
			padding: 68% 0;
			>img{
				display: none;
			}
		}
		.pro-text{
			display: block;
			padding: 5px 0;
			text-align: left;
		}
		.pro-name{
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			display: block;
		}
		.pro-price{
			display: block;
			font-family: $fontFamilyEn;
		}
		del{
			margin-right: 8px;
		}
		&:hover{
			.pro-img{
				@include box-shadow($colorGy3 0 0 5px);
			}
		}
	}
	#proItem{
		.full-carousel{
			.owl-dots{
				bottom:-40px;
				.owl-dot{
					border-color:$colorBr1;
					&.active{
						background: $colorBr1;
					}
				}
			}
		}
	}
	.pro-info{
		padding-left: 20px;
		padding-bottom: 20px;
		.pro-price{
			font-family: $fontFamilyEn;
			margin-top: 15px;
			padding-bottom: 12px;
			border-bottom: 1px solid $colorGy1;
			.red{
				font-size: 1.8em;
				font-weight: bold;
				margin-left: 12px;
			}
		}
		.pro-select{
			margin-top: 30px;
		}
		.btn-block{
			margin-top: 30px;
		}
	}
	.pro-ad{
		border-top: 1px solid $colorGy1;
		border-bottom: 1px solid $colorGy1;
		padding-top: 20px;
		padding-bottom: 15px;
		margin-top: 30px;
		a{
			display: block;
			margin-bottom: 8px;
		}
	}
	.pro-main{
		.btn-block{
			padding-top: 20px;
			border-top: 1px solid $colorGy1;
		}
	}
	.pro-main-box{
		margin-bottom: 20px;
		h2{
			background-color: $colorBr3;
			padding: 10px;
		}
		.text{
			padding: 10px;
			h1{
				margin-top: 12px;
			}
		}
	}


	/* ----- 會員頁  ---- */

	.member-wrap{
		padding-bottom: 60px;
		.ps{
			margin-top: -40px;
			margin-bottom: 15px;
		}
		.btn-contact{
			margin-top: -10px;
		}
		.ps-box{
			padding-top: 20px;
			span{
				display: inline-block;
				vertical-align: middle;
			}
			.btn-share{
				color:$colorBr1;
				padding: 8px 15px;
				@include border-radius(4px);
			}
		}
		.form-control{
			float: none;
			input{
				width: 100%;
			}
			select{
				width: 49%;
				margin-left: 1%;
				&:first-child{
					margin-left: 0;
				}
			}
		}
		.btn-block{
			border-top: 1px solid $colorGy1;
			margin-top: 20px;
			padding-top: 20px;
			margin-bottom: 40px;
		}
		.member-box{
			margin-bottom: 40px;
		}
	}
	table{
		&.table{
			margin-bottom: 20px;
			thead{
				background-color: $colorBr1;
				th{
					color:$colorW;
					font-weight: normal;
					text-align: center;
					border-left: 1px solid $colorW;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			tbody{
				tr:nth-child(2n){
					background-color: $colorBr3;
				}
				td{
					padding-left: 15px;
					padding-right: 15px;
					vertical-align: middle;
				}
			}
		}
	}
	.info-wrap{
		.input-group{
			margin-bottom: 0;
			.form-control{
				padding: 6px 12px;
			}
		}
	}
	.total{
		padding: 0 15px;
		.total-all{
			font-size: 1.4em;
			font-weight: 500;
		}
	}



	/* ----- 購物車頁  ---- */
	.process{
		margin-bottom: 25px;
		.process-item{
			display: inline-block;
			width: 20%;
			border-bottom: 5px solid $colorGy1;
			position: relative;
			padding-left: 18px;
			&.active{
				border-bottom-color: $colorBr1;
				color:$colorBr1;
				.num{
					background-color: $colorBr1;
				}
			}

		}
		.num{
			text-align: center;
			width: 30px;
			height: 30px;
			@include border-radius(100%);
			background-color: $colorGy1;
			color:#fff;
			display: block;
			position: absolute;
			bottom:-18px;
			left:-4px;
			font-weight: bold;
			font-size: 1.1em;
		}
		.last{
			width: 26%;
			padding-left: 0;
		}
		.last:after{
			content: url(../images/icon/icon_flage.png);
			position: absolute;
			bottom:-8px;
			right:-5px;
		}
		.last:before{
			content: '';
			width: 30px;
			height: 30px;
			@include border-radius(100%);
			background-color: $colorGy1;
			display: block;
			position: absolute;
			bottom:-18px;
			right:-4px;
		}
	}
	.cart-wrap{
		padding-bottom: 40px;
		h2{
			font-size: 1.4em;
		}
		.pro-select{
			.select-img{
				width: 25px;
				display: inline-block;
				margin-right: 5px;
			}
			.form-control{
				margin-right: 0;
			}
		}
		.btn-del{
			min-width: auto;
		}
		.pro-amount{
			.control{
				margin-left: auto;
				margin-right: auto;
			}
		}
		.coupon-box{
			background-color: $colorGy2;
			.input-group{
				margin-bottom: 0;
			}
		}
		.btn-block{
			padding-top: 20px;
			margin-top: 20px;
			border-top: 1px solid $colorGy1;
		}
		.pro-wrap{
			margin-top: 30px;
			.item{
				width: auto;
			}
			.btn-block{
				border-top: none;
				margin-top: 10px;
				padding-top: 0;
			}
		}
		.info-wrap{
			padding-left: 42px;
			padding-right: 42px;
		}
	}
	.bg-gy{
		background-color: $colorGy2;
		padding: 30px 20px;
	}
	.bg-w{
		background-color: $colorW;
		padding: 30px 20px;
	}
	.time-wrap{
		position: relative;
		margin-top: 40px;
		.owl-controls{
			position: absolute;
			left:0;
			top: -60px;
		    text-align: right;
		    width: 100%;
		    padding-right: 10px;
		}
	}
	.tab-content{
		padding: 20px 0 0;
	}
	.cart-fin{
		background: url(../images/cart_bg.png) no-repeat center top;
		padding-top: 40%;
		background-size: contain;
		position: relative;
		.cart-fin-text{
			position: absolute;
			width: 100%;
			left:0;
			top:0;
			padding-top: 60px;
		}
	}




	/* ----- 其他頁  ---- */

	.blog-item,.news-item,.store-item{
		margin-bottom: 40px;
		position: relative;
		.category{
			background-color: $colorBr1;
			color:#fff;
			font-size: 1.4em;
			width: 100%;
			padding: 10px 5px;
			line-height: 1.4;
		}
		.date{
			background-color: $colorBr2;
			color:#fff;
			font-size: .9em;
			width: 100%;
			padding: 5px;
			line-height: 1.4;
		}
		.blog-post,.news-post,.store-post{
			padding-left: 20px;
			h2{
				padding-bottom: 8px;
				border-bottom: 1px solid $colorGy1;
			}
		}
		.btn-more,.btn-close{
			position: absolute;
			z-index: 10;
			right:10px;
			top:5px;
		}
	}
	.store-item{
		.store-logo{
			display: inline-block;
			margin-right: 10px;
			img{
				height: 24px;
				width: auto;
			}
		}
		.store-info{
			margin-bottom: 10px;
			.icon{
				margin-bottom: 5px;
			}
		}
		&.collapse-panel{
			.store-post{
				&:after{
					display: none;
				}
			}
		}
	}
	.brand-wrap{
		.brand-box{
			margin-bottom: 20px;
			h2{
				background-color: $colorGy2;
				margin-bottom: 20px;
				position: relative;
				img{
					height: 54px;
					width: auto;
				}
				a{
					position: absolute;
					right:15px;
					top:16px;
				}
			}
		}
	}
	.filter{
		margin-bottom: 40px;
		a{
			@include opacity(.6);
			&:hover,&.active{
				@include opacity(1);
			}
		}
		.filter-nav{
			display: inline-block;
			border: 1px solid $colorGy3; 
			padding: 2px 20px;
			margin-left: 5px;
			@include border-radius(4px);
			&:hover{
				background-color: $colorGy2; 
			}
			&.active{
				background-color: $colorBr1; 
				color:#fff;
			}
		}
	}
	.qa-wrap{
		.panel-title{
			a{
				display: block;
				padding: 10px 15px 10px 55px;
				background: $colorBr3 url(../images/icon/icon_buy.png) no-repeat 10px center;
				background-size: auto 70%;
				font-size: 1.4em;
				&.collapsed{
					background-color: $colorGy2;
				}
			}
		}
		.panel-body{
			h2{
				font-size: 1.1em;
				color:$colorBr2;
			}
			p{
				padding-left: 15px;
				margin-bottom: 10px;
			}
			ol{
				padding-left: 15px;
				margin-left: 15px;
				margin-bottom: 10px;
				li{
					list-style-type: decimal;
				}
			}
		}
		.panel-default > .panel-heading{
			padding: 0;
			span{
				display: inline-block;
				margin-left: 6px;
				font-size: .7em;
			}
		}
	}
	.ab-wrap{
		h2{
			background-color: $colorBr3;
			padding: 10px;
		}
		.owl-controls{
			position: absolute;
			left:0;
			top: -50px;
		    text-align: right;
		    width: 100%;
		    padding-right: 10px;
		}
		.pro-checkbox{
			display: none;
		}
		.ab-item{
			position: relative;
		}
		.icon-check{
			color:$colorGy3;
			position: absolute;
			z-index: 10;
			right:5px;
			bottom:0;
			font-size: 1.2em;
		}
		.check{
			.icon-check{
				color:$colorR1;
			}
		}
		.num{
			text-align: center;
			width: 20px;
			height: 20px;
			background-color: $colorR1;
			color:$colorW;
			display: inline-block;
			font-size: .7em;
			vertical-align: top;
			margin-left: 5px;
			line-height: 1.4;
		}
		.btn-block{
			margin-top: 40px;
		}
	}


	/* ----- carousel  ---- */
	.owl-carousel{
		position: relative;
		.item{
			text-align: center;
		}
	}
	.full-carousel{
		position: relative;
		.owl-controls{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
		}
		.owl-prev{
			display: inline-block;
			width: 50px;
			height: 50px;
			position: absolute;
			top:50%;
			left:0;
			margin-top: -25px;
			font-size: 0;
			cursor: pointer;
			z-index: 5;
			background: url(../images/home/banner-prev.png);
			background-size: cover;
			@include opacity(.6);
			&:hover{
				@include opacity(1);
			}
		}
		.owl-next{
			display: inline-block;
			width: 50px;
			height: 50px;
			position: absolute;
			top:50%;
			right:0;
			margin-top: -25px;
			font-size: 0;
			cursor: pointer;
			z-index: 5;
			background: url(../images/home/banner-next.png);
			background-size: cover;
			@include opacity(.6);
			&:hover{
				@include opacity(1);
			}
		}
		.owl-dots{
			position: absolute;
			left:0;
			bottom:0;
			width: 100%;
			text-align: center;
			.owl-dot{
				width: 15px;
				height: 15px;
				margin: 0 8px;
				border: 2px solid #fff;
				display: inline-block;
				@include border-radius(100%);
				&.active{
					width: 15px;
					height: 15px;
					margin: 0 8px;
					border: 2px solid #fff;
					background: #fff;
				}
			}
		}
	}
	.col-slider{
		.item{
			padding: 5px 10px;
			width: auto;
			margin: 0;
		}
		.owl-prev{
			display: inline-block;
			width: 35px;
			height: 35px;
			font-size: 0;
			cursor: pointer;
			border: 1px solid $colorGy1;
			background:$colorW url(../images/home/slider-prev-gy.png) no-repeat center center;
			background-size: 40% auto;
			margin: 0 5px;
			vertical-align: top;
			&:hover{
				background:$colorGy1 url(../images/home/slider-prev-w.png) no-repeat center center;
				background-size: 40% auto;
			}
		}
		.owl-next{
			display: inline-block;
			width: 35px;
			height: 35px;
			font-size: 0;
			cursor: pointer;
			border: 1px solid $colorGy1;
			background:$colorW url(../images/home/slider-next-gy.png) no-repeat center center;
			background-size: 40% auto;
			margin: 0 5px;
			vertical-align: top;
			&:hover{
				background:$colorGy1 url(../images/home/slider-next-w.png) no-repeat center center;
				background-size: 40% auto;
			}
		}

	}





	/****** ddslick *******/
	.dropdown, .dd-select, .dd-options{
		width: 100% !important;
		max-width: 130px;
		label{
			line-height: 1!important;
			font-weight: normal;
			font-size: 1em;
			vertical-align: middle;
			margin-bottom: 0;
		}
	}
	.dd-select{
		height: 38px;
		@include border-radius(0);
	}
	.dd-selected{
		height: 36px;
		font-weight: normal!important;
		padding: 5px !important;
		background: #fff;
		min-width: 128px;
	}
	.dd-option-image, .dd-selected-image{
		width: 25px!important;
		display: inline-block!important;
	}
	.dd-option{
		padding: 5px!important;
		font-size: 1em;
	}

	//***** bootstrap ******//
	.btn{
		min-width: 150px;
		padding: 8px 15px;
		font-size: 1em;
	}
	.btn-default{
		background-color: $colorBr1!important;
		color:#fff!important;
		border: none;
		text-align: center;
		&:active,&:active:hover,&:hover,&:focus{
			color:#fff!important;
		    background-color: $colorBr2!important;
		}
	}
	.btn-info{
		background-color: $colorR1!important;
		color:#fff!important;
		border: none;
		text-align: center;
		&:active,&:active:hover,&:hover,&:focus{
			color:#fff!important;
		    background-color: $colorR2!important;
		}
	}
	.btn-primary{
		background-color: $colorGy1!important;
		color:$colorFont!important;
		border: none;
		text-align: center;
		&:active,&:active:hover,&:hover,&:focus,&.active{
			color:#fff!important;
		    background-color: $colorR1!important;
		}
	}
	.link{
		text-decoration: none;
		color:$colorBr1;
		&:hover{
			text-decoration: underline;
			color:$colorBr1;
		}
	}
	.dropdown-menu{
		padding: 0;
		margin: 0;
		border: none;
		min-width: 100%;
		font-size: 1em;
		font-weight: normal;
	}
	.container-fluid{
		padding: 0;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 5px;
		padding-right: 5px;
	}
	.row{
		margin-right: -5px;
    	margin-left: -5px;
	}
	.breadcrumb{
		background-color: transparent;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0;
		padding-bottom: 15px;
		margin-bottom: 0;
		font-size: .9em;
	}
	.pagination{
		> li{
			> a, > span{
				color:$colorBr1;
				&.active{
					background-color: $colorBr1;
					color:$colorW;
				}
				&:hover,&:focus{
					color:$colorBr2;
				}
			}
		} 
	}
	.input-group{
		margin-bottom: 15px;
		width: 100%;
		.form-control{
			background:none;
			border: none;
			@include box-shadow(none);
		}
		label{
			font-weight: normal;
			color:#555;
			display: inline-block;
			margin-left: 6px;
			margin-right: 6px;
		}
	}
	.input-group-addon{
		background:none;
		font-size: 1em;
		padding-left: 0;
		border: none;
		width: 100px;
		text-align: left;
	}
	.label-default{
		background-color: $colorBr1;
		&[href]:hover, &[href]:focus{
			background-color: $colorBr2;
		}
	}
	.form-control{
		padding: 0;
	}

	/****load****/
	.bg_load {
	    position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 9999;
		.loading{
			width: 100%;
			text-align: center;
			height:100%;
			display:inline-block;
			vertical-align:middle;
			&:before{
				content:'';
				width:0;
				height:100%;
				display:inline-block;
				position:relative;
				vertical-align:middle;
			}
			img{
				width: 500px;
				margin: 0 auto;
			}
		}
	}

	@-webkit-keyframes slideinL {
	  from {
	  	padding-left: 5px;
	  }

	  to {
	  	padding-left: 0;
	  }
	}

	@-moz-keyframes slideinL {
	  from {
	  	padding-left: 5px;
	  }

	  to {
	  	padding-left: 0;
	  }
	}
	@-webkit-keyframes slideinR {
	  from {
	  	padding-right: 5px;
	  }

	  to {
	  	padding-left: 0;
	  }
	}

	@-moz-keyframes slideinR {
	  from {
	  	padding-right: 5px;
	  }

	  to {
	  	padding-left: 0;
	  }
	}





	#orderList{
		padding-left: 20px;
		padding-right: 20px;
		.logo{
			padding: 15px 10px;
			border-bottom: 4px solid $colorGy1;
			img{
				width: 160px;
			}
		}
		.input-group-addon{
			padding-left: 0;
			&:first-child{
				padding-right: 0;
			}
		}
		.member-wrap{
			.cat{
				&:before{
					width: 25px;
					height: 30px;
					background-size: 100% auto;
				}
			}
			.member-box{
				padding: 20px;
				margin-bottom: 0;
				border-bottom: 1px solid $colorGy1;
			}
		}
		table.table{
			margin-bottom: 10px;
		}
		ol{
			margin-left: 15px;
			li{
				list-style-type: decimal;
			}
		}
		.info{
			border: 4px solid $colorGy1;
			padding: 15px 30px 8px;
			width: 500px;
			margin: 15px auto;
		}
		.code{
			width: 120px;
			height: 120px;
			margin: 8px auto;
		}
		.text{
			text-indent:32px;
		}
	}
}